html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#background {
  background-color: #000;
  background-image: url(../images/vinyl-2722234_1920.jpg);
  background-position: center;
  background-size: cover;
  display: table;
  height: 100%;
  width: 100%;
}

#loginContainer * {
  color: #FFF;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  line-height: 1em;
  box-sizing: border-box;
}

#loginContainer {
  width: 80%;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
}

#inputContainer {
  width: 400px;
  padding: 45px;
  float: left;
  border-right: 1px solid #999;
}

#inputContainer h2 {
  text-align: center;
  color: #111;
}

#inputContainer input[type='text'], #inputContainer input[type='email'], #inputContainer input[type='password'] {
  display: block;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #FFF;
  height: 27px;
  line-height: 27px;
  width: 100%;
}

#inputContainer label {
  font-size: 13px;
  margin-top: 15px;
  color: #111;
}

#inputContainer button {
  display: block;
  background-color: transparent;
  border: 1px solid #DDD;
  border-radius: 250px;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 20px auto;
  height: 41px;
  width: 100%;
}

#inputContainer button:hover {
  cursor: pointer;
  border: 2px solid #FFF;
}

textarea:focus, input:focus {
  outline: none;
}

.hasAccountText {
  text-align: center;
}

.hasAccountText span {
  font-weight: bold;
  font-size: 12px;
}
