html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Helvetica Neue', Hevetica, Arial, sans-serif;
  color: #FFF;
}

body {
  background-color: #181818;
  font-size: 14px;
  min-width: 720px;
}

#nowPlayingBarContainer {
  width: 100%;
  background-color: #282828;
  bottom: 0;
  position: fixed;
  min-width: 620px;
}

#nowPlayingBar {
  display: flex;
  height: 90px;
  padding: 16px;
  box-sizing: border-box;
}

#nowPlayingLeft, #nowPlayingRight {
  width: 30%;
  min-width: 180px;
}

#nowPlayingRight {
  position: relative;
  margin-top: 16px;
}

#nowPlayingCenter {
  width: 40%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nowPlayingBar .content {
  width: 100%;
  height: 57px;
}

.playerControls .buttons {
	margin: 0 auto;
    display: table;
}

.controlButton {
	background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
	width: 20px;
    height: 20px;
}

.controlButton.play img,
.controlButton.pause img {
	width: 32px;
	height: 32px;
}

.controlButton:hover {
	cursor: pointer;
}

.playbackBar {
  display: flex;
}

.progressTime {
  color: #A0A0A0;
  font-size: 11px;
  min-width: 40px;
  text-align: center;
}

.progressBar {
  width: 100%;
  height: 12px;
  display: inline-flex;
  cursor: pointer;
}

.progressBarBg {
  background-color: #404040;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}

.progress {
  background-color: #A0A0A0;
  height: 4px;
  width: 0;
  border-radius: 2px;
}

.playbackBar .progressBar {
  margin-top: 5px;
}

#nowPlayingLeft .albumArtwork {
  height: 100%;
  max-width: 57px;
  margin-right: 15px;
  float: left;
  background-size: cover;
}

#nowPlayingLeft .trackInfo {
  display: table;
}

#nowPlayingLeft .trackInfo .trackName {
  margin: 6px 0;
  display: inline-block;
  width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
  font-size: 12px;
  color: #A0A0A0;
}

.volumeBar {
  width: 180px;
  position: absolute;
  right: 0;
}

.volumeBar .progressBar {
  width: 125px;
}

#topContainer {
  min-height: 100%;
  width: 100%;
}

#navBarContainer {
  background-color: #111;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.navBar {
  padding: 25px;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
}

.navBar .logo img {
  width: 32px;
  margin-bottom: 15px;
}

.navBar .group {
  border-top: 1px solid #A0A0A0;
  padding: 10px 0;
}

.navBar .group .navItem {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 700;
  display: block;
  letter-spacing: 1px;
  position: relative;
}

.navBar .navItemLink {
  color: #A0A0A0;
  text-decoration: none;
  transition: .3s;
}

.navBar .navItemLink:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.navBar .icon {
  position: absolute;
  right: 0;
  top: 6;
  width: 25px;
}

#mainViewContainer {
  margin-left: 220px;
  padding-bottom: 90px;
  width: calc(100% - 220px);
}

#mainContent {
  padding: 0 20px;
}

#mainContent .pageHeadingBig {
  padding: 20px;
  text-align: center;
}

#mainContent .gridViewItem {
  display: inline-block;
  margin-right: 20px;
  width: 29%;
  max-width: 200px;
  min-width: 150px;
  margin-bottom: 20px;
}

#mainContent .gridViewItem img {
  width: 100%;
}

#mainContent .gridViewItem a {
  text-decoration: none;
}

#mainContent .gridViewInfo {
  font-weight: 300;
  text-align: center;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
}

#mainContent .entityInfo {
  padding: 40px 0 10px 0;
  display: inline-block;
  width: 100%;
}

#mainContent .entityInfo .leftSection {
  width: 30%;
  float: left;
  max-width: 250px;
}

#mainContent .entityInfo .leftSection img {
  width: 100%;
}

#mainContent .entityInfo .rightSection {
  width: 70%;
  float: left;
  padding: 5px 10px 5px 40px;
  box-sizing: border-box;
}

#mainContent .entityInfo h2 {
  margin-top: 0px;
}

#mainContent .entityInfo .rightSection p {
  color: #939393;
  font-weight: 200;
}

#mainContent .trackListContainer .tracklist {
  padding: 0;
}

#mainContent .trackListContainer .tracklist .tracklistRow{
  height: 40px;
  padding: 15px 10px;
  list-style: none;
}

#mainContent .trackListContainer .tracklistRow span {
  color: #939393;
  font-weight: 200;
}

#mainContent .trackListContainer .tracklistRow:hover {
  background-color: #282828;
}

#mainContent .trackListContainer .tracklistRow .trackCount {
  width: 8%;
  float: left;
}

#mainContent .trackListContainer .tracklistRow .trackCount img {
  width: 20px;
  visibility: hidden;
  position: absolute;
  cursor: pointer;
}

#mainContent .trackListContainer .tracklistRow:hover .trackCount img {
  visibility: visible;
}

#mainContent .trackListContainer .tracklistRow .trackCount span {
  visibility: visible;
}

#mainContent .trackListContainer .tracklistRow:hover .trackCount span {
  visibility: hidden;
}

#mainContent .trackListContainer .tracklistRow .trackInfo {
  width: 75%;
  float: left;
}

#mainContent .trackListContainer .tracklistRow .trackInfo span {
  display: block;
}

#mainContent .trackListContainer .tracklistRow .trackInfo .trackName {
  color: #FFF;
  margin-bottom: 5px;
}

#mainContent .trackListContainer .tracklistRow .trackOptions {
  width: 5%;
  float: left;
  text-align: right;
}

#mainContent .trackListContainer .tracklistRow .trackOptions img {
  width: 15px;
  visibility: hidden;
}

#mainContent .trackListContainer .tracklistRow:hover .trackOptions img {
  visibility: visible;
}

#mainContent .trackListContainer .tracklistRow .trackDuration {
  width: 12%;
  float: left;
  text-align: right;
}

#mainContent .artistInfo {
  text-align: center;
}

.button {
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 2px;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  padding: 15px;
  min-width: 130px;
}

.button.green {
  background-color: #2EBD59;
  border-color: #2EBD59;
}

.borderBottom {
  border-bottom: 1px solid #939393;
  margin-bottom: 20px;
}

#mainContent .trackListContainer h2, #mainContent .gridViewContainer h2, #mainContent .artistsContainer h2 {
  text-align: center;
  text-transform: uppercase;
}

[role="link"] {
  cursor: pointer;
}

#mainContent .searchContainer {
  background-color: #242424;
  padding: 20px 28px;
}

#mainContent .searchContainer h4 {
  margin: 0;
  font-weight: 300px;
}

#mainContent .searchContainer input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 62px;
  letter-spacing: 2px;
}

#mainContent .searchContainer input:focus {
  outline: none;
}

#mainContent .searchResultsRow {
    padding: 15px 10px;
}

#mainContent .searchResultsRow span {
    color: #FFFFFF;
}

#mainContent .searchResultsRow:hover {
    background-color: #282828;
}

#mainContent .noResults {
  display: block;
  margin: 15px;
}

#mainContent .playlistContainer {
  padding: 10px 0;
}

#mainContent .buttonItems .button {
  display: block;
  margin: 0 auto 20px auto;
}

#mainContent .playlistImage {
  border: 3px solid #282828;
  padding: 10px;
}
